*.iml
.kotlin
.gradle
**/build/
**/libs/
xcuserdata
!src/**/build/
local.properties
.idea
.fleet
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
Pods.devenv
shared.xcframework

#Rust
debug/
target/
**/*.rs.bk
*.pdb

.attach_pid*
