{% extends 'base.html' %}

{% load static %}
{% block head %}
<!--
  Copyright 2024-2024 Anthony Miceli and contributors. This file is part of LingoLessons.
  LingoLessons is free software: you can redistribute it and/or modify it under the terms of the
  GNU General Public License as published by the Free Software Foundation, either version 3 of the License,
  or (at your option) any later version.
  LingoLessons is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  You should have received a copy of the GNU General Public License along with LingoLessons.
  If not, see <https://www.gnu.org/licenses/>.
  -->
<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
{% endblock %}
{% block content %}
<nav class="flex items-center sticky top-0 z-10 p-2 shadow opacity-90 font-sans text-lg">
    <img src="{% static 'img/logo.png' %}" class="aspect-video h-14 w-auto mr-2" alt="LingoLessons"/>
    <div class="flex grow items-center justify-center w-max">
        <a href="#responsive-header" class="mx-8 text-blue-800 hover:text-blue-500">
            Lessons
        </a>
        <a href="#responsive-header" class="mx-8 text-blue-800 hover:text-blue-500">
            Progress
        </a>
        <a href="#responsive-header" class="mx-8 text-blue-800 hover:text-blue-500">
            About
        </a>
    </div>
    <a href="#"
       class="inline-block text-base px-4 py-2 leading-none border rounded text-white border-white hover:border-blue-600 hover:text-blue-600 bg-blue-600 hover:bg-white ml-2 lg:mt-0">Download</a>
</nav>
<div class="flex-col w-full text-center bg-slate-50 pt-12 font-sans text-slate-600 content-center">
    <p class="flex grow justify-center pb-12">
        <img src="{% static 'img/logo_lg.png' %}"/>
    </p>
    <p class="text-center pb-12 text-xl">A service for learning languages via vocabulary and grammar drills.</p>
    <p class="pb-12">
        <a href="#"
           class="inline-block text-lg px-8 py-3 leading-none border rounded-md text-white border-white hover:border-blue-600 hover:text-blue-600 bg-blue-600 hover:bg-white ml-2 lg:mt-0">Login</a>
    </p>
</div>
<div class="flex max-sm:flex-col w-full items-stretch font-sans">
    <div class="flex-1 grow px-6 py-2">
        <p class="text-center p-2 font-semibold text-lg">Create</p>
        <p class="text-center p-2">Create lists of items you wish to study. Or choose from lists created by other
            users.</p>
    </div>
    <div class="flex-1 grow px-6 py-2">
        <p class="text-center p-2 font-semibold text-lg">Share</p>
        <p class="text-center p-2">Share your study lists and progress to help others learn.</p>
    </div>
    <div class="flex-1 grow px-6 py-2">
        <p class="text-center p-2 font-semibold text-lg">Learn</p>
        <p class="text-center p-2">Use our software to continue learning on your platform of choice. The software
            operates in a discreet manner suitable for learning even while at work.</p>
    </div>
</div>
<nav class="w-full pt-40 font-sans text-sm">
    <p class="text-center">Copyright © 2024 amiceli</p>
</nav>
{% endblock %}